.container {
    margin-bottom: 45px;
}

.orange-bg {
    background-color: #fceae8;
    border-radius: 20px;
}

.carousel-item {
    padding: 20px 40px;
}

.price {
    color: #ff136f;
}

.Buy-Now {
    background-image: linear-gradient(to bottom, #ff5858 0%, #ff136f 100%);
    color: white;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}

.cat1 {
    background-color: orange;
    padding: 10px 30px;
    border-radius: 20px;
}

.cat2 {
    background-color: red;
    padding: 10px 30px;
    border-radius: 20px;
}

.cat3 {
    background-color: blue;
    padding: 10px 30px;
    border-radius: 20px;
}

.catagories h1 {
    color: white;
}

.catagories img {
    width: 100px;
}

.card {
    border: none;
    box-shadow: 5px 5px 10px lightgray;
}

#contactus {
    height: 200px;
}

#contactus h6 {
    color: blue;
}

footer {
    text-align: center;
}